policy_module(new-policy,1.0.0)

require {
	#staff
	type staff_t;
	role staff_r;
	#socket
	class unix_stream_socket connectto;
	class netlink_kobject_uevent_socket { bind create getattr setopt };
        class unix_dgram_socket { connect create };
	#file
	class file { execute execute_no_trans getattr lock map open read write };
	attribute file_type;
	#process
	class process { execmem setcap setrlimit setsched };
	#net
	type unreserved_port_t;
	type node_t;
	#devpts
	type user_devpts_t;

}
#app_t
type app_t;

#file_t
type app_exec_t;
type app_file_t;

typeattribute app_file_t file_type;
typeattribute app_exec_t file_type;

#domain
application_domain(app_t, app_exec_t)
domtrans_pattern(staff_t, app_exec_t, app_t)

#permissive app_t;

#role
role staff_r types {app_t app_file_t app_exec_t};


#allow staff_t
allow staff_t app_file_t:dir {relabelfrom relabelto};
allow staff_t app_file_t:file {relabelfrom relabelto};
allow staff_t app_exec_t:file {relabelfrom relabelto};

allow staff_t app_file_t:file {getattr read open write};
allow staff_t app_file_t:dir {getattr search read open write add_name remove_name create rename};
allow staff_t app_exec_t:file {execute read open write};
allow staff_t app_exec_t:file unlink;


#allow app_t
allow app_t staff_t:unix_stream_socket connectto;
allow app_t self:unix_dgram_socket { connect create };

allow app_t app_file_t:dir { open read getattr search write add_name remove_name create rename};
allow app_t app_file_t:file { getattr open read execute map write create rename unlink};

allow app_t self:netlink_kobject_uevent_socket { bind create getattr setopt };
allow app_t self:process { setcap setrlimit setsched  execmem};

#dev
allow app_t user_devpts_t:chr_file { read write };
allow app_t user_devpts_t:chr_file getattr;

#net
allow app_t unreserved_port_t:tcp_socket name_bind;
allow app_t self:tcp_socket {create bind setopt accept listen read write};
allow app_t node_t:tcp_socket node_bind;
allow staff_t app_t:process { noatsecure rlimitinh siginh };
